[submodule "Home-Projects/Code/RogueLike"]
	path = Home-Projects/Code/RogueLike
	url = https://github.com/MarkBSH/RogueLike
[submodule "Home-Projects/Code/Terraria-Like-Worldgen"]
	path = Home-Projects/Code/Terraria-Like-Worldgen
	url = https://github.com/MarkBSH/Terraria-Like-Worldgen
[submodule "Home-Projects/Code/Dialogue-Prototype"]
	path = Home-Projects/Code/Dialogue-Prototype
	url = https://github.com/MarkBSH/Dialogue-Prototype
[submodule "Home-Projects/Code/Collection-Of-Systems"]
	path = Home-Projects/Code/Collection-Of-Systems
	url = https://github.com/MarkBSH/Collection-Of-Systems
[submodule "Home-Projects/Code/Psycological-Horor"]
	path = Home-Projects/Code/Psycological-Horor
	url = https://github.com/MarkBSH/Psycological-Horor
[submodule "Home-Projects/Code/Monster-Snap"]
	path = Home-Projects/Code/Monster-Snap
	url = https://github.com/MarkBSH/Monster-Snap
[submodule "Finished Projects/Code/Dialogue-Prototype"]
	path = Finished Projects/Code/Dialogue-Prototype
	url = https://github.com/MarkBSH/Dialogue-Prototype.git
[submodule "To Be Continued Projects/Code/Collection-Of-Systems"]
	path = To Be Continued Projects/Code/Collection-Of-Systems
	url = https://github.com/MarkBSH/Collection-Of-Systems.git
[submodule "To Be Continued Projects/Code/Monster-Snap"]
	path = To Be Continued Projects/Code/Monster-Snap
	url = https://github.com/MarkBSH/Monster-Snap.git
[submodule "To Be Continued Projects/Code/Terraria-Like-Worldgen"]
	path = To Be Continued Projects/Code/Terraria-Like-Worldgen
	url = https://github.com/MarkBSH/Terraria-Like-Worldgen.git
[submodule "To Be Continued Projects/Code/RogueLike"]
	path = To Be Continued Projects/Code/RogueLike
	url = https://github.com/MarkBSH/RogueLike.git
[submodule "To Be Continued Projects/Code/Psycological-Horor"]
	path = To Be Continued Projects/Code/Psycological-Horor
	url = https://github.com/MarkBSH/Psycological-Horor.git
[submodule "Finished Projects/Code/Team Projects/Suicide-Squad"]
	path = Finished Projects/Code/Team Projects/Suicide-Squad
	url = https://github.com/MarkBSH/Suicide-Squad.git
[submodule "Finished Projects/Code/Team Projects/6.1-Local-Multiplayer"]
	path = Finished Projects/Code/Team Projects/6.1-Local-Multiplayer
	url = https://github.com/MarkBSH/6.1-Local-Multiplayer.git
[submodule "Finished Projects/Code/Team Projects/Mini-Gamejam"]
	path = Finished Projects/Code/Team Projects/Mini-Gamejam
	url = https://github.com/MarkBSH/Mini-Gamejam.git
[submodule "Finished Projects/Code/Team Projects/twinstick-2024-team-10-prolite-2"]
	path = Finished Projects/Code/Team Projects/twinstick-2024-team-10-prolite-2
	url = https://github.com/GLU-Gaming/twinstick-2024-team-10-prolite-2.git
[submodule "Finished Projects/Code/Team Projects/shmup-2024-team-6-duck"]
	path = Finished Projects/Code/Team Projects/shmup-2024-team-6-duck
	url = https://github.com/GLU-Gaming/shmup-2024-team-6-duck.git
[submodule "Finished Projects/Code/SHMUP-2.0"]
	path = Finished Projects/Code/SHMUP-2.0
	url = https://github.com/MarkBSH/SHMUP-2.0.git
[submodule "To Be Continued Projects/Code/Pokemon-Typing-Adventure"]
	path = To Be Continued Projects/Code/Pokemon-Typing-Adventure
	url = https://github.com/MarkBSH/Pokemon-Typing-Adventure.git
[submodule "To Be Continued Projects/Code/Teardown-Type-Destruction"]
	path = To Be Continued Projects/Code/Teardown-Type-Destruction
	url = https://github.com/MarkBSH/Teardown-Type-Destruction.git
[submodule "Finished Projects/Art/MHW-Iron-Hammer"]
	path = Finished Projects/Art/MHW-Iron-Hammer
	url = https://github.com/MarkBSH/MHW-Iron-Hammer.git
